
<div id="wrapper">  <app-sideebarr></app-sideebarr>
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->

          <app-clientnavbar></app-clientnavbar>

          <div class="container">
  
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Missions | Ended ({{dataArray.length}}) </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" >
                    <table class="table table-bordered"  width="100%" >
                        <thead >
                          <tr >

                           
                            <th scope="col"> completed </th> 
                            <th scope="col"> Filepath </th> 
                            <th scope="col"> Title Mission </th>  
                            <th scope="col" >Description  &nbsp;<i class="fa fa-sort"> </i> </th>
                            <th scope="col"> Email Freelancer </th> 
                          <!--  <th scope="col">  Freelancer  Stars</th>     -->           
                            <!--<th scope="col">Delete </th>-->
                            <th scope="col">Pay Freelancer  </th>
                            <th scope="col">Rate Freelancer  </th>
                          </tr>
                        </thead>
                        <tbody>         
                            <tr *ngFor="let item of dataArray  ; index as i" >
                           
                                
                              <td> <button *ngIf="item.completed==true " class="btn btn-success"> {{item.completed}} </button> 
                                <button *ngIf="item.completed==false " class="btn btn-danger"> {{item.completed}} </button> 
                              </td>
                              <td><a href="{{item.filepath}}">Go To file</a></td> 
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td> 
                                <td > <a [routerLink]="['/detailfreelancer',item.freelancer_id]" >  {{item.freelancer.email }} </a></td> 
                              <!--  <td> {{item.freelancer.reviews_count}}  </td>
                                <td>     
                                    <button (click)="delete(item.id , i)" class="btn btn-outline-danger"> Delete </button> 
                                 </td>-->
                                 <td>
                                        <div style="text-align:center;" id="myPaypalButtons"></div>
                                   
                                    <button (click)="makePayment(item.budget )" class="btn btn-outline-success">Pay Freelancer With Stripe  </button></td>
                                  
                             <td>
                              <button    (click)="addreview(item.id , item.freelancer.id)" type="button" class="btn btn-outline-primary px-3">
                                <i class="far fa-star" aria-hidden="true"> {{item.freelancer.reviews_count}}</i>
                              </button>
                              
                                 </td>
        
                  
                              </tr>
                        </tbody>
                       
                      </table>
        
        
                    </div>
        
            </div>
          </div>
        
                    </div>
                    <!-- End of Main Content -->
                    
                    <!-- Footer -->
                    
                    <!-- End of Footer -->
                    
                    </div>
                    <!-- End of Content Wrapper -->
                    
                    </div>
        
        
                    
                    
                    
                    
                    
        
          
          
          

