<div id="wrapper">
    <app-sidebarclient></app-sidebarclient>
       <div id="content-wrapper" class="d-flex flex-column">
       
           <!-- Main Content -->
           <div id="content">
            <app-navbarclient></app-navbarclient>
               <!-- Topbar -->
           
               
               <!-- End of Topbar -->
     
               <!-- Begin Page Content -->
                    <!-- Begin Page Content -->
                   <div class="container-fluid">
                   
                    <div class="container bootstrap snippets bootdey">
                        <div class="panel-body inf-content">
   
                    <!-- Content Row -->
                    <div class="row">
                        
    add mission 
                    </div>

                    <!-- Content Row -->
            <!-- /.container-fluid -->
  
                </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->

        <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->

  
  <!-- Logout Modal-->
 