<app-usersnavbar></app-usersnavbar><br>

<!-- Sidebar filter section -->
<section id="sidebar"> 
  <p> Home | <b>All Freelancers</b></p>
  <div class="border-bottom pb-2 ml-2">
      <h4 id="burgundy">Filters</h4>
  </div>
  <div class="py-2 border-bottom ml-3">
      <h6 class="font-weight-bold">Categories</h6>
      <div id="orange"><span class="fa fa-minus"></span></div>
      <form >
          <div class="form-group" *ngFor="let produit of datacate "> 
            <input type="checkbox" id="artisan">
             <label for="artisan">{{produit.name}}</label> 
            </div>

      </form>
  </div>
  <div class="py-3">
    <h5 class="font-weight-bold">Rating</h5>
    <form class="rating">
        <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
        <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
        <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
        <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
        <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
    </form>
</div>

  
</section>
<!-- products section -->
<div class="container">
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let produit of dataArray">
      <div class="our-team">
        <div class="picture">
          <a [routerLink]="['/detailfreelancer',produit.id]">  <img class="img-fluid" [src]="produit.user_image_url"></a>
        </div>
        <div class="team-content">
          <h4 class="name">{{produit.lastname}} {{produit.firstname}} </h4>
          <h4 class="title"> {{produit.description}}</h4>
          <h4 class="title"> {{produit.earning}} DT / jour</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
       

        </ul>
      </div>
    </div>
   
  
   
  </div>
  </div>