
<div id="wrapper">
  <app-sideebarr></app-sideebarr>
  <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
          <!-- Topbar -->

          <app-clientnavbar></app-clientnavbar>
          <div class="container">
            <form [formGroup]="conversationFormGroup" (ngSubmit)="getOrcreateConversation()">
              <div>
                  <label>Conversation Name</label>
                  <input type="text" matInput placeholder="abcd" formControlName="name">
                  <button class="btn btn-outline-danger" mat-raised-button color="primary" type="submit" [disabled]="!conversationFormGroup.valid" title="Get Or Create Conversation">GetOrCreateConversation</button>
              </div>
             

          </form>
        
          <div>
              <div id="remote-container">

              </div>
              <div id="local-container">
       
              </div>
          </div>
        </div>
       <div class="container-fluid"> 

          <section class="msger">
              <header class="msger-header">
                <div class="msger-header-title">
                  <i class="fas fa-comment-alt"></i> Chat
                </div>
                <div class="msger-header-options">
                  <span><i class="fas fa-cog"></i></span>
                </div>
              </header>
            
              <main class="msger-chat"  *ngFor="let data of ordered_msges | orderBy: 'created_at': 'asc'">
          
                <div class="msg right-msg" *ngIf="data.sender_id === current_user.id">
                  <div
                   class="msg-img"
                   style="background-image: url({{current_user.user_image_url}})"
                  ></div>
            
                  <div class="msg-bubble" >
         
            
                    <div class="msg-text">
                     {{data.text}}
                    </div>
                  </div>
                </div>
               <div class="msg left-msg" *ngIf="data.sender_id !== current_user.id">
                  <div
                   class="msg-img"
                   style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjTThsV0nUW7Qr3Y4QC8rs3gdI3MunygNrGQ&usqp=CAU)"
                  ></div>
            
                  <div class="msg-bubble" >
         
            
                    <div class="msg-text">
                      {{data.text}}
                    </div>
                  </div>
                </div>
                
                
              </main>
            
              <form class="msger-inputarea" [formGroup]="addmessage" #f="ngForm" (ngSubmit)="sendmessage (f); f.reset()">
                <input name="text" class="form-control"  formControlName="text"  required type="text" class="msger-input" placeholder="Enter your message...">
                <button type="submit" class="msger-send-btn">Send</button>
              </form>
            </section>


      </div>

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->

  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>

<!--<script>

const msgerForm = get(".msger-inputarea");
const msgerInput = get(".msger-input");
const msgerChat = get(".msger-chat");

const BOT_MSGS = [
"Hi, how are you?",
"Ohh... I can't understand what you trying to say. Sorry!",
"I like to play games... But I don't know how to play!",
"Sorry if my answers are not relevant. :))",
"I feel sleepy! :("
];

// Icons made by Freepik from www.flaticon.com
const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
const BOT_NAME = "BOT";
const PERSON_NAME = "Sajad";

msgerForm.addEventListener("submit", event => {
event.preventDefault();

const msgText = msgerInput.value;
if (!msgText) return;

appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
msgerInput.value = "";

botResponse();
});

function appendMessage(name, img, side, text) {
//   Simple solution for small apps
const msgHTML = `
<div class="msg ${side}-msg">
<div class="msg-img" style="background-image: url(${img})"></div>
<div class="msg-bubble">
  <div class="msg-info">
    <div class="msg-info-name">${name}</div>
    <div class="msg-info-time">${formatDate(new Date())}</div>
  </div>
  <div class="msg-text">${text}</div>
</div>
</div>
`;

msgerChat.insertAdjacentHTML("beforeend", msgHTML);
msgerChat.scrollTop += 500;
}

function botResponse() {
const r = random(0, BOT_MSGS.length - 1);
const msgText = BOT_MSGS[r];
const delay = msgText.split(" ").length * 100;

setTimeout(() => {
appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
}, delay);
}

// Utils
function get(selector, root = document) {
return root.querySelector(selector);
}

function formatDate(date) {
const h = "0" + date.getHours();
const m = "0" + date.getMinutes();

return `${h.slice(-2)}:${m.slice(-2)}`;
}

function random(min, max) {
return Math.floor(Math.random() * (max - min) + min);
}


</script>-->
