
<div id="wrapper">  <app-sideebarr></app-sideebarr>
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->

          <app-clientnavbar></app-clientnavbar>
          <div class="container">
  
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Missions | Status Accepted  </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" >
                    <table class="table table-bordered"  width="100%" >
                        <thead >
                          <tr >
                            <th scope="col"  ># ID &nbsp;<i class="fa fa-sort"> </i>  </th>
                            <th scope="col"> Mission_id </th> 
                            <th scope="col"> Title Mission </th>  
                            <th scope="col" >Status  &nbsp;<i class="fa fa-sort"> </i> </th>
                            <th scope="col"> Completed </th>  
                         
                           
                            <th scope="col"> Email Freelancer </th>               
                      
                          </tr>
                        </thead>
                        <tbody>         
                            <tr *ngFor="let item of dataArray  ; index as i" >
                              <th scope="row" > {{item.id}} </th>
                                
                                <td>{{item.mission.id}}</td> 
                                <td>{{item.mission.title}}</td>
                                <td> <button *ngIf="item.status==='accepted' " class="btn btn-success">{{item.status}}</button> </td>
                                <td>{{item.mission.completed}}</td>
                                <td > <a [routerLink]="['/detailfreelancer',item.freelancer_id]" >  {{item.freelancer.email }} </a></td> 
            
        
                               
                              </tr>
                        </tbody>
                       
                      </table>
        
        
                    </div>
        
            </div>
          </div>
        
                    </div>
                    <!-- End of Main Content -->
                    
                    <!-- Footer -->
                    
                    <!-- End of Footer -->
                    
                    </div>
                    <!-- End of Content Wrapper -->
                    
                    </div>
        
        
                    
                    
                    
              