 <!-- Page Wrapper -->
 <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: rgb(38, 8,158);" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" >
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink" style="color: white;" ></i>
            </div>
            <div class="sidebar-brand-text mx-3" style="color: white;"> Client </div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard-client">
              <i class="fas fa-home fa-2x text-gray-300"></i>
              <span>Dashboard </span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/chat">
                <i class="fas fa-sms fa-2x text-gray-300"></i>
                <span>Chat  </span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/addMission">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                <span>Add Mission  </span></a>
                
        </li>
      
        <li class="nav-item active">
            <a class="nav-link collapsed" data-toggle="collapse" class="nav-link"  data-target="#collapseTwo2"
            aria-expanded="true" aria-controls="collapseTwo2">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                <span>My Missions list  </span></a>

                <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">       
                        <a class="collapse-item" routerLink="/postulated-missions-client" >Postulated Missions</a>  
                        
                        <a class="collapse-item" routerLink="/active-missions-client" >Active Missions</a>
                        <a class="collapse-item" routerLink="/missions-client" >Current Missions</a>
                        <a class="collapse-item" routerLink="/ended-missions-client" >Ended Missions   </a>
                    </div>
                </div>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>choices </span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">choices :</h6>
                    <a class="collapse-item" routerLink="/profil-client">Update Profile </a>
                   
                </div>
            </div>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
   
        
        <!-- Nav Item - Charts -->
        <li class="nav-item"   >
            <a class="nav-link"  (click)="logout()"  >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Logout </span></a>
        </li>
  
      
  
    </ul>