 <!-- Page Wrapper -->
 <div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: rgb(0, 18, 70);" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" >
          <div class="sidebar-brand-icon ">
              <i class="fas fa-laugh" style="color: rgb(255, 255, 255);" ></i>
          </div>
          <div class="sidebar-brand-text mx-3" style="color: rgb(255, 255, 255);"> Freelancer </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashbord-freelancer">
            <i class="fas fa-home fa-2x text-gray-300"></i>
            <span>Dashboard </span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/message-freelancer">
          <i class="fas fa-sms fa-2x text-gray-300"></i>
          <span>Message </span></a>
  </li>
  

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoa"
        aria-expanded="true" aria-controls="collapseTwo">

        <i class="fas fa-user-edit fa-2x text-gray-300"></i>
        <span>Update Profil </span>
    </a>
    <div id="collapseTwoa" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/edit-freelancer">Profil Details </a>
            <a class="collapse-item" routerLink="/Education" >Education  </a>
            <a class="collapse-item" routerLink="/experiance" >Experiance  </a>
        </div>
    </div>
</li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            <span>Missions list </span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/missions-freelancer">Active Projects </a>
                <a class="collapse-item" routerLink="/dashbord-freelancer" >ended Project   </a>
            </div>
        </div>
    </li>
    
   <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          <span>Display Profil </span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" routerLink="/profil-freelancer">See Profil </a>
              <a class="collapse-item" routerLink="/edit-freelancer" >Edit Profil  </a>
          </div>
      </div>
  </li>-->


    <li class="nav-item active">
      <a class="nav-link" routerLink="/dashbord-freelancer">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          <span>Generate CV</span></a>
  </li>


      

      <!-- Divider -->
      <hr class="sidebar-divider">



      <!-- Heading -->
      <div class="sidebar-heading">
          Addons
      </div>
 
      
      <!-- Nav Item - Charts -->
      <li class="nav-item"   >
          <a class="nav-link"  (click)="logout()"  >
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              <span>Logout </span></a>
      </li>


  </ul>